{% extends 'IC50_calc/source.html' %}

{% block title %}
    About project
{% endblock %}

{% block content %}
    <div class="my_container">
        <div class="my_card my_card_content shaded-permanent">
            <div class="header"> About project </div>
            <div class="text">
                <p>This project was developed by Maria Pugacheva, a 4th-grade student of the Moscow Technical University of Communications and Informatics.</p>
                <p>The goal of this project is to calculate the toxicological index IC50 based on data provided by the open CHEMBL library,
                        using machine learning technologies. On this site, you can get acquainted with the database, information about the project,
                        and also calculate the IC50 index for your chemical compound based on its SMILES formula.
                </p>
            </div>
        </div>
    <div class="my_card"></div>
    </div>
{% endblock %}